.footerContainer {
  position: relative;
  width: 100vw !important;
  margin-left: 0px !important;
  left: 0 !important;
  min-width: 100vw !important;
  padding-left: 10px;
  bottom: 0px;
  color: rgb(19, 68, 40) !important;
  font-size: clamp(6px, 1rem, 4vw);
  background-color: rgba(255, 255, 255, 0.723);
  margin-top: 100px !important;
  z-index: 9999;
}

.footerText {
  color: rgb(18, 59, 35) !important;
  width: 100% !important;
  bottom: 0px;
  margin-bottom: 0px !important;
}

.footerText a {
  color: rgb(18, 59, 35) !important;
}